# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

.DS_*
.env
.idea
.clinic
*.log
node_modules
prod_node_modules
dist
lefthook-local.yml
*-results.xml
*-results.txt
.out
**/*:*

.vscode

